<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Set your new password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
    <style>
        a {
            background-color: #038fde;
            color: white !important;
            padding: 0.5em 1em;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="font-family: Trebuchet MS; font-size: 12px; color: #333">
    <div>Greetings <span th:text="${username}"></span>,</div>
    <br/>
    <p>
        We've received a request to set a new password for your account: <b th:text="${email}"></b>
    </p>
    <p>Use the OTP (one time password) below to login to the APP and reset your password. The password will expire after 5
        minutes.</p>
    <p>
        <b th:text="${token}"></b>
    </p>
    <br/>
    <em>If you didn't request this, you can safely ignore this email.</em>
    <br/>
    <p>
        Regards,
        <br/>
        <em>Domysuma Architects</em>
    </p>
</div>
</body>
</html>