<section class="blog-list-sec">
  <section class="section-header">
    <h2>Thoughts & Insights</h2>
    <p>Check out some of the articles from our blog.</p>
  </section>

  <section class="designs-cont">
    <div class="featured-design-items">
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
      <app-project-item-card
        class="custom-card-item"
        routerLink="/blog/1"
      ></app-project-item-card>
    </div>
  </section>

  <div class="paginator-cont">
    <app-paginator></app-paginator>
  </div>
</section>
