<section>

  <section class="home-video-sec">

    <video autoplay muted loop id="myVideo">
      <source src="./assets/videos/background-home.mp4" type="video/mp4">
    </video>

    <div class="home-call-to-action-cont">
      <h1>Domysuma Architects</h1>
      <button class="btn-custom btn-custom-primary">Explore Design Ideas <i class="fa-solid fa-arrow-right-long"></i></button>
    </div>

  </section>

  <section class="home-quick-links-sec">
    <div>
<h3>Welcome to Domysuma Architects</h3>
      <p>Find your dream home today</p>
      <button class="btn-custom btn-custom-primary-outline"><i class="fa-solid fa-magnifying-glass"></i> Browse from over 10,000 plans</button>
    </div>

    <div>
<h3>Welcome to Domysuma Architects</h3>
      <p>Find your dream home today</p>
      <button class="btn-custom btn-custom-primary-outline"><i class="fa-solid fa-magnifying-glass"></i> Browse from over 10,000 plans</button>
    </div>
  </section>

  <section class="featured-design">
    <h2>Featured Design Ideas</h2>

    <div class="featured-design-items">
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
      <app-plan-item-card></app-plan-item-card>
    </div>
  </section>



<section class="why-us-sec">
  <h3>Why Choose Domysuma Architects</h3>
  <div class="services-cont">
    <div class="services-card">
      <i class="fa-solid fa-circle-check"></i>
      <div>
        <h4>Quality</h4>
        <p>Quality services at all times</p>
      </div>
    </div>

    <div class="services-card">
      <i class="fa-solid fa-lock"></i>
      <div>
        <h4>Integrity</h4>
        <p>Doing the right thing always</p>
      </div>
    </div>

    <div class="services-card">
      <i class="fa-solid fa-user-group"></i>
      <div>
        <h4>People</h4>
        <p>People come first - our clients and employees come first. They are the reason we are here.</p>
      </div>
    </div>

    <div class="services-card">
      <i class="fa-solid fa-heart"></i>
      <div>
        <h4>Passion</h4>
        <p>We do everything with passion. Otherwise, what is the point?</p>
      </div>
    </div>
  </div>
</section>
</section>
