<section class="services-sec">
  <section class="section-header">
    <h2>Services we offer</h2>
    <p>We Provide a Wide Range of Services</p>
  </section>

  <section class="services-cards-sec">
    <div class="services-cont">
      <div class="services-card" routerLink="/services/1">
        <i class="fa-solid fa-compass-drafting icon-custom-with-bg"></i>
        <div>
          <h4>Architectural Design</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="icon-custom-with-bg fa-solid fa-briefcase"></i>
        <div>
          <h4>Structural Design</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="icon-custom-with-bg fa-solid fa-briefcase"></i>
        <div>
          <h4>Project Management</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="icon-custom-with-bg fa-solid fa-briefcase"></i>
        <div>
          <h4>Structural Design</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="icon-custom-with-bg fa-solid fa-briefcase"></i>
        <div>
          <h4>Architectural Design</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="fa-solid fa-trowel-bricks icon-custom-with-bg"></i>
        <div>
          <h4>Construction</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>

      <div class="services-card">
        <i class="icon-custom-with-bg fa-solid fa-briefcase"></i>
        <div>
          <h4>Structural Design</h4>
          <p>
            The philosophy of architecture is a branch of philosophy of art,
            dealing with aesthetic value of architecture
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
