<section class="header-section">
  <div class="header-top-sec">
    <div class="header-socials">
    
    </div>

    <div>
      
    </div>

    <div>
      <p><i class="fa-regular fa-user"></i> Login</p>
      <p><i class="fa-regular fa-heart"></i> Saved</p>
      <p><i class="fa-regular fa-square-plus"></i> Settings</p>
    </div>


  </div>
  <div class="header-bottom-sec">
    <img src="./assets/icons/domysuma-logo.svg" alt="Domysuma Logo">
    <ul class="header-menu-items">
      <li routerLink="/home">Home</li>
      <li>About</li>
      <li routerLink="/plans">Design Ideas</li>
      <li routerLink="/services">Services</li>
      <li routerLink="/projects">Projects</li>
      <li routerLink="/blog">Blog</li>
      <!--<li>Contact</li>
      <li class="btn-custom btn-custom-primary header-call-to-action">Talk To an Architect Free!</li>-->
    </ul>
  </div>

  <div class="header-chats header-wa">
    <i class="fa-brands fa-whatsapp"></i>
  </div>
  <div class="header-chats header-msg ">
    <i class="fa-solid fa-comment-dots"></i>
  </div>

  <app-bread-crumb></app-bread-crumb>

</section>

