@import "src/styles";
.plan-item-card-cont {
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;

  .plan-item-card-top {
  position: relative;
  height: 230px;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;        /* IMPORTANT */
    object-fit: cover;   /* IMPORTANT */
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease;
  }
}

  h4 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
  }

  .plan-item-card-footer {
    margin-top: 10px;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    border-top: 0.5px solid #726658;
    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      &:hover {
        transform: $scale-1-1;
        color: #1c75bc;
      }
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
