<section class="project-sec">

  <section class="section-header">
    <h2>Our Works</h2>
    <p>Check out some of the projects we have worked on.</p>
  </section>

  <div class="projects-cont">
    <div class="featured-design-items">
      <app-project-item-card class="custom-card-item"></app-project-item-card>
      <app-project-item-card class="custom-card-item"></app-project-item-card>
      <app-project-item-card class="custom-card-item"></app-project-item-card>
      <app-project-item-card class="custom-card-item"></app-project-item-card>
      <app-project-item-card class="custom-card-item"></app-project-item-card>
      <app-project-item-card class="custom-card-item"></app-project-item-card>
    </div>
  </div>

  <div class="paginator-cont">
    <app-paginator></app-paginator>
  </div>

</section>
