@import "src/app/shared/styles/featured-design";
@import "../../../shared/styles/general";


.category-grid {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
  padding: 40px 0;
}

.category-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  h3 {
    padding: 14px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #333;
  }
} 




.projects-cont{
  padding: 10px $layout-horizontal-padding;

  @include mobile{
    padding: 10px $layout-horizontal-padding-sm;
  }
}

.paginator-cont{
  padding: 10px $layout-horizontal-padding;
  @include mobile{
    padding: 10px $layout-horizontal-padding-sm;
  }
}
